- unless message.from.blank?
  
  %div{:class => "message #{cycle 'odd', 'even'}"}
    %span.sent-at
      = time_lost_in_words message.created_at
      ago
    %span.owner=link_to h(message.from), url(:user, :username => message.from)
    %span.contents= message_format message
    .clear