#footer
  kookaburra is brought to you by <a href="http://blog.ninjahideout.com/">Darcy Laycock</a>.<br />
  Built with <a href="http://merbivore.com/">merb</a>, <a href="http://jquery.com/">jquery</a>, IRC and some love.